<aside>
<!-- <div class="panel radius"> -->
<div class="panel radius">
    <h3><a href={{ site.url }}>BACK TO MAIN PAGE</a></h3>
</div>
<div class="border-dotted radius b30">
    <p><a href="{{ site.url }}/armchair">
	IKEA POÄNG Chair with Cushion $65
    </a></p>
    <p><a href="{{ site.url }}/white-chair">
	IKEA INGOLF Chair $30
    </a></p>
    <p><a href="{{ site.url }}/toaster">
	Cuisinart Toaster $10
    </a></p>
    <p><a href="{{ site.url }}/shoe-rack">
	IKEA TJUSIG Shoe Rack $10
    </a></p>
<!--    
    <p><a href="{{ site.url }}/microwave">
	Emerson 700W Microwave $15
    </a></p>
    <p><a href="{{ site.url }}/washer-dryer">
	Whirlpool Washer and Dryer $250
    </a></p>
    <p><a href="{{ site.url }}/rug">
	IKEA ÅDUM Rug 5'7"x7'10" $40
    </a></p>
    <p><a href="{{ site.url }}/red-table">
	IKEA KRITTER Kids Red Table $15
    </a></p>
    <p><a href="{{ site.url }}/chest">
	IKEA HEMNES 2-Drawer Chest $60
    </a></p>
    <p><a href="{{ site.url }}/table-lamp">
	IKEA MALIN TRÅD/RODD Table Lamp $15
    </a></p>
    <p><a href="{{ site.url }}/four-chairs">
	IKEA LAVER Dining Chairs x4 $20
    </a></p>
    <p><a href="{{ site.url }}/floor-lamp">
	IKEA ALÄNG Floor Lamp $20
    </a></p>
    <p><a href="{{ site.url }}/brio-table">
	Brio Kids Table $25
    </a></p>
    <p><a href="{{ site.url }}/metal-shade-lamp">
	IKEA LERSTA Floor Lamp $10
    </a></p>
-->
</div>
</aside>
